* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system,
  BlinkMacSystemFont, Roboto, Segoe UI, Oxygen-Sans,Ubuntu,Cantarell,
  Helvetica Neue,sans-serif;
  min-width: 515px;
}

/***********************
  colors reference
***********************/
:root {
  --white: #FFF;
  --black: #000;
  --green: #D1E751;
  --blue: #4DBCE9;
  --dark-blue: #26ADE4;
  --red: #CF3434;
}

/*************
  nav
**************/

.nav-container {
  background: var(--green);
}

.nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 18px;
}

.nav li {
  flex: 1 1 0;
}

.nav-patient {
  padding: 10px 0px 10px 5%;
}

.nav-test {
  background: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 30px 0px;
  font-size: 25px;
  font-weight: bold;
}

.nav-reviewer {
  text-align: right;
  padding: 10px 5% 10px 0px;
}

/*************
  count
**************/

.count-container {
  display: flex;
  justify-content: space-between;
  margin: 2% 5% 0 5%;
  align-items: center;
}

.count {
  display: flex;
  flex: .33%;
  align-items: center;
}

.circle {
  font-size: 35px;
  border: 2px solid var(--green);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--blue);
}

.circle-line {
  border-bottom: 2px solid var(--blue);
  /*width: 33%;*/
  flex: 1;
}

/*************
  test
**************/

.title {
  font-size: 30px;
  color: var(--blue);
  margin: 1% 6% .5% 6%;
  text-align: left;
}

.test-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0% 5%;
  border: 2px solid var(--blue);
}

.test-stat {
  font-size: 40px;
  width: 185px;
  border: 3px solid var(--green);
  margin: 10px 0px 0px 0px;
  border-radius: 3px;
}

.test-label {
  font-size: 20px;
}

.test-reset {
  font-size: 30px;
}

.stopwatch-container {
  border-right: 2px solid var(--blue);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  min-width: 40%;
  padding: 1%;
}

.stopwatch {
  display: flex;
  flex-direction: column;
}

.stopwatch.timer{
  display: flex;
  flex-direction: column;
}

.stopwatch-item {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.stopwatch-btns {
  display: flex;
}

.stopwatch-button {
  padding: 17px 20px;
  color: var(--white);
  font-size: 18px;
  border: none;
  border-radius: 3%;
  margin: 0px 10px;
  cursor: pointer;
}

.stopwatch-button:hover {
  transform: scale(1.1);
}

.stopwatch-button.play {
  background-color: var(--blue);
}

.stopwatch-button.stop {
  background-color: var(--red);
}

.stopwatch-button.reset {
  background-color: var(--green);
}

button > .material-icons:hover {
  color: var(--white);
}

/*************
  assessment
**************/

.assessment-container {
  flex: 2;
}

.assessment-item {
  display: flex;
  align-items: baseline;
  padding: 12px 12px;
  border-bottom: 1px solid var(--blue);
  align-items: center;
}

.option-title {
  flex: 1;
  text-align: left;
  margin-left: 25px;
}

.assessment-buttons {
  flex: 4;
  display: flex;
}

.button {
  flex-grow: 1;
  font-size: 18px;
  width: auto;
  padding: 5px 0px;
  border-radius: 3px;
  margin: 0px 5px;
  background-color: var(--white);
  border: 2px solid var(--green);
  cursor: pointer;
}

.button:hover {
  background-color: var(--green);
}

.button.selected {
  background-color: var(--green);
  outline: none;
}

/*************
  icon bar
**************/

.icon-bar {
  height: 45px;
  background: var(--blue);
  margin: 0% 5%;
}

.icon-bar.label-bar {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-right: 10%;
}

/*************
  test results
**************/

.test-results-container {
  margin: 0% 5%;
  display: flex;
  border-top: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  font-size: 18px;
}

.result-table {
  text-align: center;
  font-weight: bold;
}

.result-row {
  display: flex;
  border-right: 1px solid var(--blue);
  border-left: 2px solid var(--blue);
}

.result-item  {
  width: 130px;
  border-right: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  padding: 15px;
}

.result-label {
  padding: 15px;
  width: 150px;
  border-right: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
}

.result-label.numb {
  flex: .1;
}

.result-footer {
  margin: 2% 0 5% 0;
}

.individual-icons {
  border-bottom: 1px solid var(--blue);
}

.result-footer > .title {
  font-weight: bold;
}

/***********************
  text field
***********************/

.text-container {
  width: 100%
}

.text-area {
  display: flex;
  padding: 12px;
}

textarea {
  font-size: 16px;
  overflow: auto;
  width: 100%;
  height: 100px;
  box-shadow: none;
  padding: 15px 15px 15px 40px;
  line-height: 160%;
  border: none;
  outline: none;
  resize: none;
  cursor:text;
}

.copy > .material-icons {
  color: var(--black);
  display: flex;
  justify-content: flex-end;
  padding: 1% 1%;
}

/***********************
  individual result
***********************/

.indivdual-result-container {
  margin-top: 2%;
  text-align: center;
}

.individual-row-container {
  margin: 0 5% 0 5%;
  width: 45%;
}

.individual-icons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}

.icon {
  width: 40px;
}

.icon > .material-icons {
  color: var(--black);
}

.icon.delete > .material-icons {
  color: var(--red);
}


/***********************
  media q
***********************/

@media screen and (max-width: 1130px) {

  .test-stat {
    width: auto;
  }
}

@media screen and (max-width: 1036px) {

  .test-container {
    flex-direction: column;
  }

  .stopwatch-container {
    margin: 5% 0 0% 0;
    border-right: none;
  }

  .stopwatch-item {
    padding: 0 20% 5% 20%;
  }
}

@media screen and (max-width: 930px) {

  .nav-test {
    padding: 13px 0px;
  }

  .test-results-container {
    flex-direction: column;
  }

  .result-row {
    border-right: none;
  }

  .text-container {
    border-left: 2px solid var(--blue);
  }

  .result-item {
    flex: 1;
  }

  .stopwatch-item {
    padding: 0 5% 5% 5%;
  }

  .individual-icons {
    border-bottom: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
  }
}


/***********************
  material icons
***********************/

 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons {
  color: var(--white);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.material-icons:hover {
  color: var(--green);
}
